<h2 class="display-8" align="center"> In {{city}}, there's at least one Police Station,
 so instead of breaking the law you can watch this movie instead: </h2>
<br><br>
<div class="card film-card" style="width: 18rem;">
  <img class="card-img-top" src="{{data['Poster']}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{data['Title']}}</h5>
    <p class="card-text">{{data['Plot']}}</p>
    <a href="https://www.imdb.com/title/{{data['imdbID']}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div>
