<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="nav navbar-nav" routerLinkActive="active">
      <a class="nav-item nav-link active" routerLink="home">home</a>
      <a class="nav-item nav-link" routerLink="weather">weather</a>
      <a class="nav-item nav-link" routerLink="film">film</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="nav navbar-nav" routerLinkActive="active">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
